<div class="example-container">
  <h2 style="text-align:center">Add Region</h2>
  <form [formGroup]="regionForm" class="mt-4">

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Region Name" formControlName="rname">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Country" formControlName="country_id_fk">
          <mat-option [value]="item.id" *ngFor="let item of allContries">{{item.cname}}</mat-option>

        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <textarea matInput placeholder="Address" formControlName="address"></textarea>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <textarea matInput placeholder="Store Address" formControlName="store_address"></textarea>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Contact Number" formControlName="contact_num">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Fax Number" formControlName="fax_num">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Location" formControlName="maps_loc">
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-1">
        <button mat-raised-button color="primary" (click)="saveRegion()">Add </button>
      </div>
      <div class="col-md-1">
        <button mat-raised-button color="warn">Cancel</button>
      </div>

    </div>
  </form>
</div>