<mat-toolbar class="example-toolbar" style=" box-shadow: 10px 10px 18px -8px rgba(0,0,0,.40)">
  <button mat-icon-button onclick="openNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name" style="font-family: initial;  color: #12e312;font-size:25px">Daiva </h1>
  <h3 style="margin-left: 14px;color:#23335c">|
    Maintenance
    Hub
  </h3>


  <mat-icon style="margin-left: 1065px;">apps notifications person</mat-icon>
</mat-toolbar>


<div id="mySidebar" class="sidebar">
  <a class="closebtn" onclick="closeNav()">×</a>
  <a class="navtext" routerLink="/add-region">Regions</a>
  <a class="navtext">Plants</a>
  <a class="navtext">Vendor</a>
  <a class="navtext">Contractor</a>
</div>

<div id="main">
  <app-control-center></app-control-center>
</div>