<div class="row mt-2">
  <div class="col-md-8 mt-4" style="float: right"></div>
  <div class="col-md-4 mt-4">
    <button mat-raised-button color="primary" routerLink="/add-region">Add Region</button>
  </div>
</div>

<div class="mat-elevation-z8 mt-4">



  <mat-table [dataSource]="dataSource" class="mat-table">

    <ng-container matColumnDef="rname">
      <mat-header-cell *matHeaderCellDef> Region </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rname}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="cname">
      <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cname}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="contact_num">
      <mat-header-cell *matHeaderCellDef> Contact No </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.contact_num}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button>
          <mat-icon>create</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>