.card{
  width: 18rem;
  height: 140px;
  margin-left: 274px;
  margin-top: 55px;
  box-shadow: 10px 10px 18px -8px rgba(0,0,0,.60)
}

.mat-icon{
padding-bottom: 22px;
  margin-left: 148px;

color:orange;
  animation: spin 2s linear infinite;
}
#row2{
  margin-left: 274px;
  margin-top: -1px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card-subtitle
{
  padding-top:20px;
  width: 131px;
  font-size: 12px;
  margin: -31px;
  margin-left: 2px;

}

.card-subtitle1
{

  font-size: 12px;

  margin-top: -82px;
  margin-left: 158px;
}

.card-text{
  font-size: 18px;
}

.card-text1{
  font-size: 18px;
  padding-top: 10px;
  padding-left: 166px;
  color: #12e312;
}

.country{
  width:320px;
  
}

.stream{
  width: 380px;
  margin-right:100px;
  margin-left:290px;
}

.layout{
  background-color: #f8f8f8;
  height:430px;
}