<h5 style="font-family: initial">Plants</h5>
<hr>

<div class="row">


  <div class="form-group">
    <mat-form-field class="stream">
      <mat-select placeholder="stream">
        <mat-option [value]="1">Wind</mat-option>
        <mat-option [value]="2">Solar</mat-option>
        <mat-option [value]="3">Energy</mat-option>
      </mat-select>
    </mat-form-field>
  </div>



  <div class="form-group">
    <mat-form-field class="country">
      <mat-select placeholder="Country">
        <mat-option [value]="1">India</mat-option>
        <mat-option [value]="2">Japan</mat-option>
        <mat-option [value]="3">Canada</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <button mat-raised-button color="primary" style="margin-left:20px">Search </button>
  </div>

</div>

<div class="layout  ml-4 mr-4">
  <h3 style="margin-left:70px;margin-top:20px" class="ml-4 mt-4">Wind</h3>
  <div class="row ">
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">


          <h5 class="card-title" style="color: #12e312;">Mangoli <mat-icon style="margin-left: 200px;">toys
            </mat-icon>
          </h5>

          <h6 class="card-subtitle mb-2 text-muted">Total Number Of Wind Turbine</h6>
          <p class="card-text">40
          </p>
          <h6 class="card-subtitle1 mb-2 text-muted">Energy Capacity</h6>
          <p class="card-text1">100(MW)
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" style="color: #12e312;">TGP 1
            <mat-icon style="margin-left: 200px;">toys</mat-icon>
          </h5>




          <h6 class="card-subtitle mb-2 text-muted">Total Number Of Wind Turbine</h6>
          <p class="card-text">40
          </p>

          <h6 class="card-subtitle1 mb-2 text-muted">Energy Capacity</h6>
          <p class="card-text1">100(MW)
          </p>
        </div>
      </div>`
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <div class="row">
            <h5 class="card-title" style="color: #12e312;">Bagalkot
              <mat-icon style="margin-left: 200px;">toys</mat-icon>
            </h5>
          </div>




          <h6 class="card-subtitle mb-2 text-muted">Total Number Of Wind Turbine</h6>
          <p class="card-text">40
          </p>

          <h6 class="card-subtitle1 mb-2 text-muted">Energy Capacity</h6>
          <p class="card-text1">100(MW)
          </p>
        </div>
      </div>`
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card" id="row2">
        <div class="card-body">

          <h5 class="card-title" style="color: #12e312;">Jath<mat-icon style="margin-left: 200px;">toys</mat-icon>
          </h5>

          <h6 class="card-subtitle mb-2 text-muted">Total Number Of Wind Turbine</h6>
          <p class="card-text">40
          </p>

          <h6 class="card-subtitle1 mb-2 text-muted">Energy Capacity</h6>
          <p class="card-text1">100(MW)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="layout  ml-4 mr-4">
  <h3 style="margin-left:70px;margin-top:10px" class="ml-4 mt-4">Solar</h3>
  <div class="row ">
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">


          <h5 class="card-title" style="color: #12e312;">Mangalore <mat-icon style="margin-left: 200px;">wb_sunny
            </mat-icon>
          </h5>

          <h6 class="card-subtitle mb-2 text-muted">Total Number Of Wind Turbine</h6>
          <p class="card-text">40
          </p>
          <h6 class="card-subtitle1 mb-2 text-muted">Energy Capacity</h6>
          <p class="card-text1">100(MW)
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" style="color: #12e312;">Dharwad
            <mat-icon style="margin-left: 200px;">wb_sunny</mat-icon>
          </h5>




          <h6 class="card-subtitle mb-2 text-muted">Total Number Of Wind Turbine</h6>
          <p class="card-text">40
          </p>

          <h6 class="card-subtitle1 mb-2 text-muted">Energy Capacity</h6>
          <p class="card-text1">100(MW)
          </p>
        </div>
      </div>`
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title" style="color: #12e312;">Rayghad
            <mat-icon style="margin-left: 200px;">wb_sunny</mat-icon>
          </h5>




          <h6 class="card-subtitle mb-2 text-muted">Total Number Of Wind Turbine</h6>
          <p class="card-text">40
          </p>

          <h6 class="card-subtitle1 mb-2 text-muted">Energy Capacity</h6>
          <p class="card-text1">100(MW)
          </p>
        </div>
      </div>`
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card" id="row2">
        <div class="card-body">

          <h5 class="card-title" style="color: #12e312;">Belagavi<mat-icon style="margin-left: 200px;">wb_sunny
            </mat-icon>
          </h5>

          <h6 class="card-subtitle mb-2 text-muted">Total Number Of Wind Turbine</h6>
          <p class="card-text">40
          </p>

          <h6 class="card-subtitle1 mb-2 text-muted">Energy Capacity</h6>
          <p class="card-text1">100(MW)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>