.example-container {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  margin-bottom: 72px;
  margin-left: 300px;
  margin-right: 300px;
}

.example-container > * {
  width: 100%;
}



.row{
  width: 300px;

  margin-left: 500px;
}
